<div class="container">
    <div class="holder">
        <div class="bg-plain">
            <div class="bg-triangle"></div>
        </div>
        <div class="wrapper">
            <!--<app-signin></app-signin>-->
            <!--<app-signout></app-signout>-->
            <!--<app-signup></app-signup>-->
            <!--<app-info></app-info>-->
            <!--<app-signup-success></app-signup-success>-->
            <!--<app-header (emitter)="emitter($event)" [params]="params"></app-header>-->
            <!--<app-logo></app-logo>-->
            <!--<app-profile></app-profile>-->
            <!--<app-delete-account></app-delete-account>-->
            <!--<app-delete-success></app-delete-success>-->
            <!--<app-loader></app-loader>-->
            <!--<app-todo></app-todo>-->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>